@use '../pages/config.scss' as *;

.start {
  display: block;
  border-radius: 5px;
  margin: 0 auto 1em;
  // box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  box-shadow: 3px 3px 0 $BLACK;
  width: 125px;
  height: 150px;
}

.post {
  box-sizing: content-box;
  // border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px 0 $BLACK;
  margin: 0.5em;
}